<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error Chat</title>
  </head>
  <body>
    <div class="content">
      <h1><%= message%></h1>
      <h2><%= error.status %></h2>
      <pre>
        <%= error.stack %>
      </pre>
    </div>
  </body>
</html>
